.weather-conatiner{
    display: flex;
    justify-content: center;

    span {
        font-size: 150px;
    }
    p{
        font-size: 25px;
    }
    img{
        position: relative;
        right: 1em;

    }
}
@media screen and (max-width: 425px){
    .weather-conatiner{
        span {
            font-size: 90px;
        }
        img{
           width: 70px;
    
        }
    }
}